
<div class="card">
    <p>card-one works!</p>
    <div class="card-body">
        <h4 class="card-title">Card title</h4>
        <p class="card-text">Some example text. Some example text.</p>
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
      </div>
      <div class="row center">
        <div class="col">
          <div ngbDropdown class="d-inline-block">
            <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Toggle dropdown</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button class="dropdown-item">Action - 1</button>
              <button class="dropdown-item">Another Action</button>
              <button class="dropdown-item">Something else is here</button>
            </div>
          </div>
        </div>
      </div>
</div>
<div class="card">
    
    <div class="card-body">
        <h4 class="card-title">TRC ENGINEER-(Testing and Repair Centre)</h4>
        <p class="card-text">Some example text. Some example text.</p>
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
      </div>
      <div class="row center">
        <div class="col">
          <div ngbDropdown class="d-inline-block">
            <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Toggle dropdown</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button class="dropdown-item">Action - 1</button>
              <button class="dropdown-item">Another Action</button>
              <button class="dropdown-item">Something else is here</button>
            </div>
          </div>
        </div>
      </div>
</div>
<div class="card border-secondary mb-3" style="max-width: 18rem;">
    <div class="card-header">
      Featured
    </div>
    <div class="card-body">
      <h5 class="card-title">Special title treatment</h5>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>

    
 
  <div class="row">
        <div class="col-sm-2">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title"></h5>
              <p class="card-text" style="font-size:28px">Jul 2018 to </p>
              <p class="card-text" style="font-size:28px"> Nov 2018 </p>
              <p class="card-text" style="font-size:28px"> 5 months</p>
            
            </div>
          </div>
        </div>
        <div class="col-sm-10">
          <div class="card">
                <h5 class="card-header" style="font-size:32px">
                        TRC ENGINEER-(Testing and Repair Centre)
                </h5>
            <div class="card-body">
              <h5 class="card-title" style="font-size:28px">Puthur Infotech Private Limited, Bengaluru.</h5>
              <h6 style="font-size:24px">Roles and Responsibilities :</h6>
              <p class="card-text" style="font-size:20px">1. Testing and repair of hardware boards, motherboards (LGA775, H55, G31, H61, AM2,  AM3 socket motherboards. Testing of processors.</p>
              <p class="card-text" style="font-size:20px">2. Fault diagonosis of hardware devices - mouse, keyboard, SMPS, Cisco 2960 switches, CPU fan, hard disks and possible repairs.Technical support like Operating system installation and troubleshoot in servers,desktops,thin-clients.Device drivers installation.</p>
              
            </div>
          </div>
        </div>
      </div>

      <div class="row">
            <div class="col-sm-2">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title"></h5>
                  <p class="card-text">July 2018 to November 2018   (5 months)</p>
                
                </div>
              </div>
            </div>
            <div class="col-sm-10">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Special title treatment</h5>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
            </div>
          </div>