<div class="row p-4">
    <div class="col-sm-6">
          <h2 style="font-size:48px;color:black">Project Experience</h2>        
    </div>
</div>
<div class="row p-4">
    <div class="col-sm-2">
      <div class="card border-secondary mb-3 text-center">
        <div class="card-body">
          <h5 class="card-title"></h5>
          <p class="card-text" style="font-size:28px">  Oct 2017 
           
             </p>
          
          <p class="card-text" style="font-size:28px"> to </p>
          <p class="card-text" style="font-size:28px"> Aug 2016 </p>
          <p class="card-text" style="font-size:28px"> (15 months) </p>
        
        </div>
      </div>
    </div>
    <div class="col-sm-10">
      <div class="card border-secondary mb-3">
            <h5 class="card-header" style="font-size:32px">
                ACADEMIC PROJECT(M.Tech)
             </h5>
            <h5 class="card-header" style="font-size:32px">
              Camera Calibration and Scene Synthesis
             </h5>  
        <div class="card-body">
          <h5 class="card-title" style="font-size:28px">Aeronautical Development Establishment (ADE), DRDO (Defence Research and Development Organisation), Bengaluru.</h5>
          <p class="card-text" style="font-size:20px">The project is implementation of autonomous image tracking system in Unmanned Aerial Vehicles (UAVs) to target opponent defence systems. The tracking system works based on many algorithms used for matching and estimation techniques, markov random fields, filtering methods and uses Digital Signal Controllers (DSCs) for computation intensive solutions. FPGA prototype development is done followed by actual implementation on board. Also, a simulation environment is developed to mimic the real world image capturing of the scene by developing 3D models in Matlab.
        </p>
          <h6 style="font-size:24px">Roles and Responsibilities :</h6>
          <p class="card-text" style="font-size:20px">1. Execution of feature matching techniques in Matlab.  
            Analysis of machine learning methods for implementation in Matlab</p>
          <p class="card-text" style="font-size:20px">2.Setting up environment (standalone) for simulation in Matlab.Involved in few stages of FPGA design flow and real-time analysis of software code.</p>
          
        </div>
      </div>
    </div>
  </div>
  <div class="row p-4">
    <div class="col-sm-2">
      <div class="card border-secondary mb-3 text-center">
        <div class="card-body">
          <h5 class="card-title"></h5>
          <p class="card-text" style="font-size:28px">  Jun 2015 
           
             </p>
          
          <p class="card-text" style="font-size:28px"> to </p>
          <p class="card-text" style="font-size:28px"> Jan 2015 </p>
          <p class="card-text" style="font-size:28px"> (6 months) </p>
        
        </div>
      </div>
    </div>
    <div class="col-sm-10">
      <div class="card border-secondary mb-3">
            <h5 class="card-header" style="font-size:32px">
                ACADEMIC PROJECT(B.E.)
             </h5>
          
        <div class="card-body">
          <h5 class="card-title" style="font-size:28px">MEMS based switching device for physically challenged using avr microcontroller (8 bit) and Philips microcontroller (8 bit)</h5>
          <p class="card-text" style="font-size:20px">The project is implementation of autonomous image tracking system in Unmanned Aerial Vehicles (UAVs) to target opponent defence systems. The tracking system works based on many algorithms used for matching and estimation techniques, markov random fields, filtering methods and uses Digital Signal Controllers (DSCs) for computation intensive solutions. FPGA prototype development is done followed by actual implementation on board. Also, a simulation environment is developed to mimic the real world image capturing of the scene by developing 3D models in Matlab.
        </p>
          <h6 style="font-size:24px">Roles and Responsibilities :</h6>
          <p class="card-text" style="font-size:20px">1.The transmitter part - which the physically challenged person uses to control the devices like lighting system, fan and any other electrical devices. The MEMS sensor (accelerometer-ADXL 335) - a wearable device (can be mounted on head or tightened to wrist) that senses the motion. A feature to know the status of the devices also are available through both visual and audio means to the user - The visual feedback of the device is available through LEDs and an audio feedback through re-recording voice IC (APR33A3). </p>
          <p class="card-text" style="font-size:20px">2.The receiver part - is simple with relays connected to devices (2 devices are controlled by the user). Maximum distance between receiver and transmitter is 100 feet for which, R. F. (Radio Frequency) is used.</p>
          <h6 style="font-size:22px">Tools and Technology used :</h6>
          <p class="card-text" style="font-size:20px">C language, ASK Modulation,  3 Axis acceleration measurement system, pitch and roll measurement, Atmel Studio V6.2, InSystem Programmer, Extreme Burner.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
      <div class="card">
          
      </div>
  </div>
 <!---- <p>project-experience works!</p>  -->