<!--The content below is only a placeholder and can be replaced.-->
<!-----
  <div class="container">
  <app-card-one></app-card-one>
  </div>
-->
<div>
  <app-card-two></app-card-two>
</div>

<h1 style="text-align:center">
  Welcome to
  <!----{{  }} -->my Skills Profile!
</h1>
<div class="row">
  <div class="col-sm-1"></div>

  <div class="col-sm-10">
    <img width="96" src="../assets/public/nodeJS.png">
    <img width="96" alt="Angular Logo"
      src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
    <!---- <img src="https://img.icons8.com/color/80/000000/python.png">
        <img src="https://img.icons8.com/color/75/000000/c-sharp-logo.png">
        <img src="https://img.icons8.com/color/75/000000/visual-studio.png">
      -->


    <img src="https://img.icons8.com/color/96/000000/python.png">
    <img src="https://img.icons8.com/color/96/000000/mongodb.png">
    <img width="96" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/tt_avatar_tailwind.jpg">
    <img src="https://img.icons8.com/color/96/000000/windows-10.png">
    <img src="https://img.icons8.com/color/96/000000/visual-studio.png">
    <img src="https://img.icons8.com/color/96/000000/c-sharp-logo.png">
    <img src="https://img.icons8.com/color/96/000000/bootstrap.png">


  </div>
  <div class="col-sm-1"></div>
</div>
<div class="row">
  <div class="col-sm-1"></div>
  <div class="col-sm-11">
    <img src="https://img.icons8.com/color/96/000000/ubuntu--v2.png">
    <img src="https://img.icons8.com/color/96/000000/linux.png">
    <img src="https://img.icons8.com/office/96/000000/database.png">
    <img src="https://img.icons8.com/color/96/000000/java-coffee-cup-logo.png">
    <img src="https://img.icons8.com/color/96/000000/android-os.png">
    <img width="200" src="https://res.cloudinary.com/dskzmamid/image/upload/v1564984590/embedded-c-programming.png">
    <img width="96px" src="https://res.cloudinary.com/dskzmamid/image/upload/v1564986288/FpgaServices.png">
  </div>

</div>
<div class="row p-4">
  <h2 style="font-size:36px">Expert</h2>
</div>
<div class="row p-4">
  <h2 style="font-size:36px">Proficient</h2>
</div>
<div class="row p-4">


  <!----- <div class="table-responsive">
    <div class="table font-size:28px">
          <thead>
            <tr>
              
              <th scope="col">Heading</th>
              <th scope="col">Heading</th>
              </tr>
          </thead>
            <tbody>
              <tr>
                
                <td>Cell</td>
                <td>Cell</td>
              </tr>
            </tbody>
          </div>
   </div>
  -->

  <div class="col-sm-3 card">
    <div class="row card-title p-2" style="font-size:28px">Back End</div>
    <div class="row p-2" style="font-size:28px">
      <div> C# .Net</div>
      <div> <img width="80" src="https://img.icons8.com/color/96/000000/c-sharp-logo.png"> </div>
    </div>
  </div>

  <div class="col-sm-3 card">
    <div class="row card-title p-2" style="font-size:28px">Back End</div>
    <div class="row p-2" style="font-size:28px">
      <div> Node JS   </div>
      <div> <img width="80" src="../assets//public/nodeJS.png"> </div>
    </div>
  </div>

  <div class="col-sm-2 card">
    <div class="row p-2" style="font-size:28px">DB </div>
    <div class="row p-2" style="font-size:28px">
      <div> Database</div>
      <div><img src="https://img.icons8.com/office/96/000000/database.png"> </div>
    </div>
  </div>

  <div class="col-sm-3 card">
    <div class="row card-title p-2" style="font-size:28px">Front End</div>
    <div class="row p-2" style="font-size:28px">
      <div> Angular</div>
      <div> <img width="80" alt="Angular Logo"
          src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
      </div>
    </div>
  </div>

</div>
<div class="row p-4">
  <h2 style="font-size:36px">Novice</h2>
</div>
<div class="row p-4">






  <div class="col-sm-2 card">
    <div class="row p-2" style="font-size:28px">Linux </div>
    <div class="row p-2" style="font-size:28px">
      <div> OS Internals</div>
      <div><img class="img-responsive center-block" src="https://img.icons8.com/color/96/000000/linux.png"> </div>
    </div>
  </div>
  <div class="col-sm-2 card">
    <div class="row p-2" style="font-size:28px">Java </div>
    <div class="row p-2" style="font-size:28px">
      <div> Programming</div>
      <div><img src="https://img.icons8.com/color/96/000000/java-coffee-cup-logo.png"> </div>
    </div>
  </div>

  <div class="col-sm-3 card">
    <div class="row p-2" style="font-size:28px">CSS </div>
    <div class="row p-2" style="font-size:28px">
      <div> Tailwind CSS</div>
      <div><img width="80" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/tt_avatar_tailwind.jpg"> </div>
    </div>
  </div>
  <div class="col-sm-3 card">
    <div class="row p-2" style="font-size:28px">CSS </div>
    <div class="row p-2" style="font-size:28px">
      <div> Bootstrap CSS</div>
      <div><img width="80" src="https://img.icons8.com/color/96/000000/bootstrap.png"> </div>
    </div>
  </div>






  <div class="col-sm-2 card">
    <div class="row p-2" style="font-size:28px">Android</div>
    <div class="row p-2" style="font-size:28px">
      <div> Android OS</div>
      <div><img class="img-responsive center-block" src="https://img.icons8.com/color/96/000000/android-os.png"></div>
    </div>
  </div>
  <div class="col-sm-2 card">
    <div class="row p-2" style="font-size:28px">C </div>
    <div class="row p-2" style="font-size:28px">
      <div> Embedded C</div>
      <div> <img width="150"
          src="https://res.cloudinary.com/dskzmamid/image/upload/v1564984590/embedded-c-programming.png"> </div>
    </div>
  </div>
  <div class="col-sm-2 card">
    <div class="row p-2" style="font-size:28px">Python </div>
    <div class="row p-2" style="font-size:24px">
      <div> Data Analytics And Web Development</div>
      <div><img src="https://img.icons8.com/color/96/000000/python.png"> </div>
    </div>
  </div>
</div>
<div class="row p-4">
  <div class="col-sm-2 card">
    <div class="row p-2" style="font-size:28px">FPGA </div>
    <div class="row p-2" style="font-size:28px">
      <div> Verilog coding</div>
      <div> <img width="96px" src="https://res.cloudinary.com/dskzmamid/image/upload/v1564986288/FpgaServices.png">
      </div>
    </div>
  </div>
  <div class="col-sm-2 card">
    <div class="row p-2" style="font-size:28px"> </div>
    <div class="row p-2" style="font-size:28px">
      <div> </div>
      <div> </div>
    </div>
  </div>
  <div class="col-sm-2 card">
    <div class="row p-2" style="font-size:28px"></div>
    <div class="row p-2" style="font-size:28px">
      <div></div>
      <div> </div>
    </div>
  </div>
  <div class="col-sm-2 card">
    <div class="row p-2" style="font-size:28px"></div>
    <div class="row p-2" style="font-size:28px">
      <div> </div>
      <div></div>
    </div>
  </div>
  <div class="col-sm-2 card">
    <div class="row p-2" style="font-size:28px"></div>
    <div class="row p-2" style="font-size:28px">
      <div> </div>
      <div> </div>
    </div>
  </div>
  <div class="col-sm-2 card">
    <div class="row p-2" style="font-size:28px"> </div>
    <div class="row p-2" style="font-size:24px">
      <div> </div>
      <div> </div>
    </div>
  </div>
</div>
<div class="row p-4">
  <h2 style="font-size:28px">I will work on upgrading these skills to the next level. </h2>
</div>
<div>
  <app-project-experience>
  </app-project-experience>
</div>

<div class="row p-4">
  <h5 style="font-size:36px">My Public Profile</h5>

  <div class="col-sm-3">

    <a href="https://github.com/krishnakurtakoti"><i class="fa fa-github pull-right"
        style="font-size:52px;color:black"></i></a>
  </div>
  <div class="col-sm-3">

    <a href="www.linkedin.com/in/krishna-kurtakoti-6a1aa814a"><i class="fa fa-linkedin-square pull-left"
        style="font-size:52px"></i></a>
  </div>
  <div class="col-sm-4">



    <!---- <a href=""><i class="fa fa-whatsapp" style="font-size:48px;color:green"></i></a>  -->
    <!---- <i class="fa fa-whatsapp" style="font-size:48px;color:green"></i> -->
    <!---- <i class="fab fa-java"></i>  -->
  </div>
  <div class="col-sm-4">
    <!-----    <i class="fa fa-envelope" style="font-size:48px;color:brown"> </i>  -->

  </div>

</div>
<!----
<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/cli">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul>
--->