<div class="row p-4">
  <div class="col-sm-6">
        <h2 style="font-size:48px;color:black">KRISHNA G. KURTAKOTI</h2>        
  </div>
 
  <div class="col-sm-2">
    <i class="fa fa-envelope pull-right" style="font-size:48px;color:brown"> </i>
   <!----  <span class="pull-right">$42</span> -->
  </div>
  <div class="col-sm-4">
    <div href="#" style="font-size:28px;color:black"> krishnakurtakoti56@gmail.com </div> 
  </div>
</div>
<div class="row p-4">
  <div class="col-sm-6">
    <h2 style="font-size:36px;color:black">Bengaluru</h2>    
  </div>
 
  <div class="col-sm-2">
    <i class="fa fa-whatsapp pull-right" style="font-size:48px;color:green"></i>
   <!----  <span class="pull-right">$42</span> -->
  </div>
  <div class="col-sm-4">
    <div  style="font-size:28px;color:black">+91 9606746385
    
    </div> 
    <div  style="font-size:28px;color:black">+91 9845464690 
      
    </div>
    <div  style="font-size:28px;color:black">
      080-23240599
    </div>
  </div>
</div>
<h2 class="p-4">WORK EXPERIENCE</h2>

<div class="row p-4">
        <div class="col-sm-2">
          <div class="card border-secondary mb-3 text-center">
            <div class="card-body">
              <h5 class="card-title"></h5>
              <p class="card-text" style="font-size:28px"> Jan 2020 </p>
              
              <p class="card-text" style="font-size:28px"> to </p>
              <p class="card-text" style="font-size:28px">Dec 2019</p>
              <p class="card-text" style="font-size:28px">(2 months)</p>
            
            </div>
          </div>
        </div>
        <div class="col-sm-10">
          <div class="card border-secondary mb-3">
                <h5 class="card-header" style="font-size:32px">
                        Freelance Developer
                </h5>
           
              <h5 class="card-title" style="font-size:28px">Global Disruptive Technologies,West Palm Beach,Florida,United States.
                </h5>
              <h6 style="font-size:24px">Roles and Responsibilities :</h6>
              <p class="card-text" style="font-size:20px">1.Developed the backend for Online sales App</p>
      
           
              
            </div>
          </div>
        </div>
      </div>
                
                
<div class="row p-4">
        <div class="col-sm-2">
          <div class="card border-secondary mb-3 text-center">
            <div class="card-body">
              <h5 class="card-title"></h5>
              <p class="card-text" style="font-size:28px"> Aug 2019 </p>
              
              <p class="card-text" style="font-size:28px"> to </p>
              <p class="card-text" style="font-size:28px">Dec 2018</p>
              <p class="card-text" style="font-size:28px">(9 months)</p>
            
            </div>
          </div>
        </div>
        <div class="col-sm-10">
          <div class="card border-secondary mb-3">
                <h5 class="card-header" style="font-size:32px">
                        VLSI-Physical Design Trainee
                </h5>
            <div class="card-body">
              <h5 class="card-title" style="font-size:28px">Banashree Renewable Energy System Private Limited, Bengaluru.
                </h5>
              <h6 style="font-size:24px">Roles and Responsibilities :</h6>
              <p class="card-text" style="font-size:20px">1. Used Aprisa Physical design tool for power analysis and  implementing power reduction techniques using Banashree’s standard cell library. </p>
              <p class="card-text" style="font-size:20px">2. Implementing low power VLSI methodologies and cell optimization using Banashree’s standard cell library.</p>
              
            </div>
          </div>
        </div>
      </div>


<div class="row p-4">
        <div class="col-sm-2">
          <div class="card border-secondary mb-3 text-center">
            <div class="card-body">
              <h5 class="card-title"></h5>
              <p class="card-text" style="font-size:28px"> Nov 2018 </p>
              
              <p class="card-text" style="font-size:28px"> to </p>
              <p class="card-text" style="font-size:28px">Jul 2018 </p>
              <p class="card-text" style="font-size:28px"> (5 months)</p>
            
            </div>
          </div>
        </div>
        <div class="col-sm-10">
          <div class="card border-secondary mb-3">
                <h5 class="card-header" style="font-size:32px">
                        TRC ENGINEER-(Testing and Repair Centre)
                </h5>
            <div class="card-body">
              <h5 class="card-title" style="font-size:28px">Puthur Infotech Private Limited, Bengaluru.</h5>
              <h6 style="font-size:24px">Roles and Responsibilities :</h6>
              <p class="card-text" style="font-size:20px">1. Testing and repair of hardware boards, motherboards (LGA775, H55, G31, H61, AM2,  AM3 socket motherboards. Testing of processors.</p>
              <p class="card-text" style="font-size:20px">2. Fault diagonosis of hardware devices - mouse, keyboard, SMPS, Cisco 2960 switches, CPU fan, hard disks and possible repairs.Technical support like Operating system installation and troubleshoot in servers,desktops,thin-clients.Device drivers installation.</p>
              
            </div>
          </div>
        </div>
      </div>

      <div class="row p-4">
            <div class="col-sm-2">
              <div class="card border-secondary mb-3 text-center">
                <div class="card-body">
                  <h5 class="card-title"></h5>
                  <p class="card-text" style="font-size:28px"> Mar 2018  </p>
                  
                  <p class="card-text" style="font-size:28px"> to </p>
                  <p class="card-text" style="font-size:28px"> Dec 2017 </p>
                  <p class="card-text" style="font-size:28px"> (3 months)</p>
                
                </div>
              </div>
            </div>
            <div class="col-sm-10">
              <div class="card border-secondary mb-3">
                    <h5 class="card-header" style="font-size:32px">
                            Subject Matter Expert as retainer
(Non-Technical)

                    </h5>
                <div class="card-body">
                  <h5 class="card-title" style="font-size:28px">Pearson India Education Services Private Limited, Bengaluru.</h5>
                  <h6 style="font-size:24px">Roles and Responsibilities :</h6>
                  <p class="card-text" style="font-size:20px">1. Involved in content proof-reading,content enhancement of Pearson’s MyPedia Digital Learning Solutions.</p>
                  <p class="card-text" style="font-size:20px">2. Reviewing content of MyPedia Curricula delivered through textbooks, software, and mobile apps which includes year-on-year assessments that measure student's growth in Cognitive Skills - Recall, Understanding, Application and Higher-Order Thinking Skills.</p>
                  
                </div>
              </div>
            </div>
          </div>

      <!---  <p>card-two works!</p>  -->
