<div class="row p-4">
  <div class="col-sm-6">
    <h2 style="font-size:48px;color:black">KRISHNA G. KURTAKOTI</h2>
  </div>

  <div class="col-sm-2">
    <i class="fa fa-envelope pull-right" style="font-size:48px;color:brown"> </i>
    <!----  <span class="pull-right">$42</span> -->
  </div>
  <div class="col-sm-4">
    <div href="#" style="font-size:28px;color:black"> krishnakurtakoti56@gmail.com </div>
  </div>
</div>
<div class="row p-4">
  <div class="col-sm-6">
    <h2 style="font-size:36px;color:black">Bengaluru</h2>
  </div>

  <div class="col-sm-2">
    <i class="fa fa-whatsapp pull-right" style="font-size:48px;color:green"></i>
    <!----  <span class="pull-right">$42</span> -->
  </div>
  <div class="col-sm-4">
    <div style="font-size:28px;color:black">+91 9606746385

    </div>
    <div style="font-size:28px;color:black">+91 9845464690

    </div>
    <div style="font-size:28px;color:black">
      080-23240599
    </div>
  </div>
</div>
<h2 class="p-4">WORK EXPERIENCE</h2>

<div class="row p-2">
  <div class="col-sm-2">
    <div class="card border-secondary mb-3 text-center">
      <div class="card-body">
        <h5 class="card-title"></h5>
        <p class="card-text" style="font-size:28px"> Present </p>

        <p class="card-text" style="font-size:28px"> to </p>
        <p class="card-text" style="font-size:28px">Mar 2020</p>
        <p class="card-text" style="font-size:28px"> (28 months)</p>

      </div>
    </div>
  </div>
  <div class="col-sm-10">
    <div class="card border-secondary mb-3">
      <h5 class="card-header" style="font-size:32px">
        Backend Web Application Developer
      </h5>
      <div class="card-body">
        <h5 class="card-title" style="font-size:28px"> ASZ Technologies Pvt. Ltd, Bengaluru.</h5>

        <div class="row">
          <div class="col-sm-2">
            <div class="card border-secondary mb-3 text-center">
              <div class="card-body">
                <h5 class="card-title"></h5>
                <p class="card-text" style="font-size:14px"> Mar 2021 </p>

                <p class="card-text" style="font-size:14px"> to </p>
                <p class="card-text" style="font-size:14px">Mar 2020</p>
                <p class="card-text" style="font-size:14px"> (12 months)</p>

              </div>
            </div>
          </div>
          <div class="col-sm-8">


            <h6 style="font-size:24px">1. Project Cycloan</h6>

            <h6 style="font-size:24px">Roles and Responsibilities :</h6>
            <p class="card-text" style="font-size:20px"> a. Backend development of Cycloan project using the Nest.js
              framework, MongoDB database, mongoose models and queries, deployment in Elastic Compute Service (ECS) -
              Alibaba Cloud Compute Service. </p>
            <p class="card-text" style="font-size:20px"> b. Integrating authentication service using Json tokens,
              integration with CRM module ( VTiger), Amazon Simple Notification Service (SNS), BigchainDB - the
              blockchain database.</p>
            <p class="card-text" style="font-size:20px"> c. Testing of the developed APIs in Postman and co-ordinating
              with the frontend team for integration.</p>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-sm-2">
            <div class="card border-secondary mb-3 text-center">
              <div class="card-body">
                <h5 class="card-title"></h5>
                <p class="card-text" style="font-size:14px"> Jan 2021 </p>

                <p class="card-text" style="font-size:14px"> to </p>
                <p class="card-text" style="font-size:14px">Nov 2020</p>
                <p class="card-text" style="font-size:14px"> (3 months)</p>

              </div>
            </div>
          </div>
          <div class="col-sm-8">

            <h6 style="font-size:24px">2. Project SunSeap</h6>

            <h6 style="font-size:24px">Roles and Responsibilities :</h6>

            <p class="card-text" style="font-size:20px">
              This is a visualization project completed with Grafana and InfluxDB.
              The details are: </p>
            <p class="card-text" style="font-size:20px"> a. Grafana is dockerized and connected to InfluxDB provisioned
              in AliCloud as a service.</p>
            <p class="card-text" style="font-size:20px"> b. Writing to InfluxDB database with python scripts.</p>
            <p class="card-text" style="font-size:20px"> c. Grafana visualizations - Line Charts, Pie chart, World Map
              Panel.</p>
            <p class="card-text" style="font-size:20px"> d. Building Grafana queries in SQL language with SQL team.</p>
            <p class="card-text" style="font-size:20px"> e. Running kubernetes cluster for the dockerized Grafana
              application.</p>
          </div>
        </div>

        <div class="row mb-3">
          <div class="col-sm-2">
            <div class="card border-secondary mb-3 text-center">
              <div class="card-body">
                <h5 class="card-title"></h5>
                <p class="card-text" style="font-size:14px"> Mar 2021 </p>

                <p class="card-text" style="font-size:14px"> to </p>
                <p class="card-text" style="font-size:14px">Jan 2021</p>
                <p class="card-text" style="font-size:14px"> (3 months)</p>

              </div>
            </div>
          </div>
          <div class="col-sm-8">


            <h6 style="font-size:24px">3. Project WorkShift</h6>

            <h6 style="font-size:24px"> Roles and Responsibilities :</h6>

            <p class="card-text" style="font-size:20px">
              Devops - Developed entire flow from importing repositories into the Azure Repos, creating a build
              pipeline, release pipeline and testing the entire flow for Dotnet Core solution.
              The details of the project are:
              The dotnet core solution contains 3 projects – Identity, Web app and Web Api
            </p>
            <p class="card-text" style="font-size:20px"> a. Azure Repos – The source code is maintained here. </p>
            <p class="card-text" style="font-size:20px"> b. Azure App Service – 3 app services are running for dotnet
              projects - Identity, Web app and Web Api. </p>
            <p class="card-text" style="font-size:20px"> c. Azure MSSQL Instance – The Identity, Web Api are connected
              to this MSSQL instance. </p>
            <p class="card-text" style="font-size:20px"> d. Azure Devops – Build Pipeline and Release pipeline are built
              for continous integration and continous deployment helped with team. </p>

          </div>

        </div>

        <div class="row mb-3">
          <div class="col-sm-2">
            <div class="card border-secondary mb-3 text-center">
              <div class="card-body">
                <h5 class="card-title"></h5>
                <p class="card-text" style="font-size:14px"> Jun 2021 </p>

                <p class="card-text" style="font-size:14px"> to </p>
                <p class="card-text" style="font-size:14px"> Mar 2021</p>
                <p class="card-text" style="font-size:14px"> (4 months)</p>

              </div>
            </div>
          </div>
          <div class="col-sm-8">


            <h6 style="font-size:24px">4. Project Roundesk</h6>

            <h6 style="font-size:24px"> Roles and Responsibilities :</h6>

            <p class="card-text" style="font-size:20px">
              Roundesk is a video conferencing application.
            </p>
            <p class="card-text" style="font-size:20px"> a. Involved in modification and testing of prebuilt electron
              app and packaging of the electron app. </p>
            <p class="card-text" style="font-size:20px"> b. Involved in porting the web app(ReactJs) to the desktop (i.e
              electron app).
            </p>
          </div>
        </div>

        <div class="row mb-3">
          <div class="col-sm-2">
            <div class="card border-secondary mb-3 text-center">
              <div class="card-body">
                <h5 class="card-title"></h5>
                <p class="card-text" style="font-size:14px"> Jun 2021 </p>

                <p class="card-text" style="font-size:14px"> to </p>
                <p class="card-text" style="font-size:14px"> May 2021</p>
                <p class="card-text" style="font-size:14px"> (1 month)</p>

              </div>
            </div>
          </div>
          <div class="col-sm-8">


            <h6 style="font-size:24px">5. Project AllSpice</h6>

            <h6 style="font-size:24px"> Roles and Responsibilities :</h6>

            <p class="card-text" style="font-size:20px">
              AllSpice is a smart attendance application.
            </p>
            <p class="card-text" style="font-size:20px"> a. Developed Attendance management web app by capturing the
              faces of the users using the webcam and comparing with registered users and marking the attendance in csv
              files. </p>
            <p class="card-text" style="font-size:20px"> b. The frontend uses ReactJs with the "react-video-recorder"
              package which sends the video captured as blob to backend.</p>
            <p class="card-text" style="font-size:20px"> c. Developed the backend Apis in Python Flask framework using
              face_recognition, cv2 packages to process the video uploaded, detect the face and mark attendance. </p>
          </div>

        </div>



        <div class="row mb-3">
          <div class="col-sm-2">
            <div class="card border-secondary mb-3 text-center">
              <div class="card-body">
                <h5 class="card-title"></h5>
                <p class="card-text" style="font-size:14px"> present </p>

                <p class="card-text" style="font-size:14px"> to </p>
                <p class="card-text" style="font-size:14px">May 2021</p>
                <p class="card-text" style="font-size:14px"> (13 months)</p>

              </div>
            </div>
          </div>
          <div class="col-sm-8">


            <h6 style="font-size:24px">6. Dynasty Esports</h6>

            <h6 style="font-size:24px"> Roles and Responsibilities :</h6>

            <p class="card-text" style="font-size:20px">
              Dynasty Esports is a web esports application. It includes paid subscriptions for games, chat, latest news on gaming, tournaments for games. Built with complex design with microservices architecture with Node.JS serverless framework.
            </p>
            <p class="card-text" style="font-size:20px"> a. Involved in development of the wallet module for the application. </p>
            <p class="card-text" style="font-size:20px"> b. Co-Implemented SSO with the 3rd party service(Maxis)
            </p>
            <p class="card-text" style="font-size:20px"> c. Automated report generation of users, daily Wallet Balance, daily Summary, etc using cron jobs. </p>
            <p class="card-text" style="font-size:20px"> d. Adding Apis for existing Serverless framework based application using Node.js and MongoDB, AWS integration. </p>
            <p class="card-text" style="font-size:20px"> e. Monitoring the application, familiarity with bitbucket pipelines. </p>
            <p class="card-text" style="font-size:20px"> f. Integrated 3rd party apis(Maxis) by using secure cryptography signature generation(SHA 256 - createHmac("SHA256", SECRET_KEY)). </p>
            <p class="card-text" style="font-size:20px"> g. Frontend support for api integration. </p>
            <p class="card-text" style="font-size:20px"> h. Co-design of the wallet topUp, refund, smsNotifications, report generation functionalities. </p>
            <p class="card-text" style="font-size:20px"> i. Adopting microservice architecture, modifying structure of existing modules. </p>
            <p class="card-text" style="font-size:20px"> j. AWS SQS service integration to lambda functions. </p>
            <p class="card-text" style="font-size:20px"> k. Focus on making app more secure against cyber attacks - authorization checks for APIs. </p>
            <p class="card-text" style="font-size:20px"> l. Chat service APIs - group chat functionality APIs. </p>
            <p class="card-text" style="font-size:20px"> m. Random number generation for vouchers, voucher, campaign module development. </p>
          </div>

        </div>


        <div class="row mb-3">
          <div class="col-sm-2">
            <div class="card border-secondary mb-3 text-center">
              <div class="card-body">
                <h5 class="card-title"></h5>
                <p class="card-text" style="font-size:14px"> Jun 2022 </p>

                <p class="card-text" style="font-size:14px"> to </p>
                <p class="card-text" style="font-size:14px">Apr 2022</p>
                <p class="card-text" style="font-size:14px"> (4 months)</p>

              </div>
            </div>
          </div>
          <div class="col-sm-8">


            <h6 style="font-size:24px">7. Project OurAPPS</h6>

            <h6 style="font-size:24px"> Roles and Responsibilities :</h6>

            <p class="card-text" style="font-size:20px">
              OurApps is a mobile application with Node.JS backend for Admin.
            </p>
            <p class="card-text" style="font-size:20px"> a. Push notification issue for mobile application using Firebase, express.js backend, Postgres database in Heroku cloud, Typescript, batect environment for running the app. </p>
            <p class="card-text" style="font-size:20px"> b. Fixing of the Admin app issues.
            </p>
            <p class="card-text" style="font-size:20px"> c. Team: 
            </p>
            <ul>
              <li>1. Althaf Hussain, CTO.</li>
              <li>2. Anandu K. Dev, React Native developer</li>
              <li>3. Usman Pasha, Node.JS developer.</li>
              <li>4. Sohil Mansuri, React Native developer</li>
              <li>5. Renu Diggupalli, Node.JS developer</li>
              <li>6. Bharani Dharan, Project Manager</li>
            </ul>
          </div>

        </div>



        <div class="row mb-3">
          <div class="col-sm-2">
            <div class="card border-secondary mb-3 text-center">
              <div class="card-body">
                <h5 class="card-title"></h5>
                <p class="card-text" style="font-size:14px"> Aug 2022 </p>

                <p class="card-text" style="font-size:14px"> to </p>
                <p class="card-text" style="font-size:14px">Jul 2022</p>
                <p class="card-text" style="font-size:14px"> (1 months)</p>

              </div>
            </div>
          </div>
          <div class="col-sm-8">


            <h6 style="font-size:24px">8. Project Ecommerce MGMT</h6>

            <h6 style="font-size:24px"> Roles and Responsibilities :</h6>

            <p class="card-text" style="font-size:20px">
              Ecommerce MGMT is a ecommerce application.
            </p>
            <p class="card-text" style="font-size:20px"> a.  </p>
            <p class="card-text" style="font-size:20px"> b. 
            </p>
          </div>

        </div>



      </div>
    </div>
  </div>
</div>

<div class="row p-4">
  <div class="col-sm-2">
    <div class="card border-secondary mb-3 text-center">
      <div class="card-body">
        <h5 class="card-title"></h5>
        <p class="card-text" style="font-size:28px"> Jan 2020 </p>

        <p class="card-text" style="font-size:28px"> to </p>
        <p class="card-text" style="font-size:28px">Dec 2019</p>
        <p class="card-text" style="font-size:28px"> (2 months)</p>

      </div>
    </div>
  </div>
  <div class="col-sm-10">
    <div class="card border-secondary mb-3">
      <h5 class="card-header" style="font-size:32px">
        Freelance Backend Web Developer(node.js)
      </h5>
      <div class="card-body">
        <h5 class="card-title" style="font-size:28px">Global Disruptitve Technologies,West Palm Beach,Florida,United
          States</h5>
        <h6 style="font-size:24px">Roles and Responsibilities :</h6>
        <p class="card-text" style="font-size:20px">1.Developed the backend for onlone auto sales web app. </p>
        <p class="card-text" style="font-size:20px">2.<a> https://github.com/krishnakurtakoti/nodeJsMySqlOne</a></p>

      </div>
    </div>
  </div>
</div>




<div class="row p-4">
  <div class="col-sm-2">
    <div class="card border-secondary mb-3 text-center">
      <div class="card-body">
        <h5 class="card-title"></h5>
        <p class="card-text" style="font-size:28px">Oct 2019</p>

        <p class="card-text" style="font-size:28px"> to </p>
        <p class="card-text" style="font-size:28px">September 2019 </p>
        <p class="card-text" style="font-size:28px"> (2 months)</p>

      </div>
    </div>
  </div>
  <div class="col-sm-10">
    <div class="card border-secondary mb-3">
      <h5 class="card-header" style="font-size:32px">
        Python Intern
      </h5>
      <div class="card-body">
        <h5 class="card-title" style="font-size:28px">CIOC FMCG Bengaluru.</h5>
        <h6 style="font-size:24px">Roles and Responsibilities :</h6>
        <p class="card-text" style="font-size:20px">1.Coding: Arduino with MPU9250-Correcting Accelerometer bias </p>
        <p class="card-text" style="font-size:20px">2. PyQt4 GUI programming and web development</p>

      </div>
    </div>
  </div>
</div>


<div class="row p-4">
  <div class="col-sm-2">
    <div class="card border-secondary mb-3 text-center">
      <div class="card-body">
        <h5 class="card-title"></h5>
        <p class="card-text" style="font-size:28px"> Aug 2019 </p>

        <p class="card-text" style="font-size:28px"> to </p>
        <p class="card-text" style="font-size:28px">Dec 2018</p>
        <p class="card-text" style="font-size:28px">(9 months)</p>

      </div>
    </div>
  </div>
  <div class="col-sm-10">
    <div class="card border-secondary mb-3">
      <h5 class="card-header" style="font-size:32px">
        VLSI-Physical Design Trainee
      </h5>
      <div class="card-body">
        <h5 class="card-title" style="font-size:28px">Banashree Renewable Energy System Private Limited, Bengaluru.
        </h5>
        <h6 style="font-size:24px">Roles and Responsibilities :</h6>
        <p class="card-text" style="font-size:20px">1. Used Aprisa Physical design tool for power analysis and
          implementing power reduction techniques using Banashree’s standard cell library. </p>
        <p class="card-text" style="font-size:20px">2. Implementing low power VLSI methodologies and cell optimization
          using Banashree’s standard cell library.</p>

      </div>
    </div>
  </div>
</div>


<div class="row p-4">
  <div class="col-sm-2">
    <div class="card border-secondary mb-3 text-center">
      <div class="card-body">
        <h5 class="card-title"></h5>
        <p class="card-text" style="font-size:28px"> Nov 2018 </p>

        <p class="card-text" style="font-size:28px"> to </p>
        <p class="card-text" style="font-size:28px">Jul 2018 </p>
        <p class="card-text" style="font-size:28px"> (5 months)</p>

      </div>
    </div>
  </div>
  <div class="col-sm-10">
    <div class="card border-secondary mb-3">
      <h5 class="card-header" style="font-size:32px">
        TRC ENGINEER-(Testing and Repair Centre)
      </h5>
      <div class="card-body">
        <h5 class="card-title" style="font-size:28px">Puthur Infotech Private Limited, Bengaluru.</h5>
        <h6 style="font-size:24px">Roles and Responsibilities :</h6>
        <p class="card-text" style="font-size:20px">1. Testing and repair of hardware boards, motherboards (LGA775,
          H55, G31, H61, AM2, AM3 socket motherboards. Testing of processors.</p>
        <p class="card-text" style="font-size:20px">2. Fault diagonosis of hardware devices - mouse, keyboard, SMPS,
          Cisco 2960 switches, CPU fan, hard disks and possible repairs.Technical support like Operating system
          installation and troubleshoot in servers,desktops,thin-clients.Device drivers installation.</p>

      </div>
    </div>
  </div>
</div>

<div class="row p-4">
  <div class="col-sm-2">
    <div class="card border-secondary mb-3 text-center">
      <div class="card-body">
        <h5 class="card-title"></h5>
        <p class="card-text" style="font-size:28px"> Mar 2018 </p>

        <p class="card-text" style="font-size:28px"> to </p>
        <p class="card-text" style="font-size:28px"> Dec 2017 </p>
        <p class="card-text" style="font-size:28px"> (3 months)</p>

      </div>
    </div>
  </div>
  <div class="col-sm-10">
    <div class="card border-secondary mb-3">
      <h5 class="card-header" style="font-size:32px">
        Subject Matter Expert as retainer
        (Non-Technical)

      </h5>
      <div class="card-body">
        <h5 class="card-title" style="font-size:28px">Pearson India Education Services Private Limited, Bengaluru.
        </h5>
        <h6 style="font-size:24px">Roles and Responsibilities :</h6>
        <p class="card-text" style="font-size:20px">1. Involved in content proof-reading,content enhancement of
          Pearson’s MyPedia Digital Learning Solutions.</p>
        <p class="card-text" style="font-size:20px">2. Reviewing content of MyPedia Curricula delivered through
          textbooks, software, and mobile apps which includes year-on-year assessments that measure student's growth
          in Cognitive Skills - Recall, Understanding, Application and Higher-Order Thinking Skills.</p>

      </div>
    </div>
  </div>
</div>

<!---  <p>card-two works!</p>  -->